*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    margin: 0.5rem;
}
.container{
    display: flex;
    width: 100%;
    height: 40vh;
    border: 2px solid black;
}
.child1 li{
    text-decoration: none;
    width: 100%;
}
.child1{
    flex-basis: 400rem;
    overflow: auto;
    display: none;
    /* visibility: hidden; */
}
.child2{
    position: relative;
    overflow: auto;
    flex-grow: 2;
}
.button{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    color: black;
}
.navmenu{
    border: none;
    font-size: 1rem;
    background-color: white;
    width: 100%;
    cursor: pointer;  
}
.navmenu:focus{
    background-color: gray;
    padding: 10px;
}
.navHiddenBtn:hover{
    cursor: pointer;
}
.divBtn{
    top: 44px;
    left: 30px;
    background-color: black;
    width: 22px;
    height: 3px;
    margin: 4px;

}
p,hr{
    margin: 1rem;
}
.mail{
    position: sticky;
    top: 0%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:0.5rem  0 2rem 0.5rem;
    background-color: white;
}
.navHiddenBtn{
    border: none;
    position: absolute;
    top: 22px;
    left: 39px;
    width: 28px;
    background-color: gray;
}
.heading{
    background-color: gray;
    text-align: center;
    padding: 2rem ;
    margin: 0 1rem 1rem 1rem;
}
@media screen and (max-width:750px){
    html{
        font-size: 13px;
    }   
}
@media screen and (max-width:572px){
    html{
        font-size: 11px;
    }
    .Mail:nth-child(2){
        font-size: 5px;
        font-weight: bold;
    }
}
    
